/Library
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/magic_rush.userprefs
/magic_rush.sln
/Builds
/Assets/MMagicRush/Sprites/Ingame/terrain/desktop.ini.meta
/obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
/obj/Debug/Assembly-CSharp.csprojResolveAssemblyReference.cache
/obj/Debug/Assembly-CSharp.dll
/obj/Debug/Assembly-CSharp.pdb
/Assembly-CSharp-Editor.csproj
/Temp
/magic-battle.sln
/magic-battle.userprefs
/.vs/magic-battle/v14
/*.csproj
